body {
    margin: 0;
    height: 100vh;
}
.txt-div {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eee;
    height: 100%;
}
    
.txt_p {
    text-align: center;
    margin: auto;
}