.body {
    margin: 0 auto;
    max-width: 1400px;
    font-size: 18px;
    font-family: sans-serif;
    background-color: #F8FAFE;
}
.header-name {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.header-name__icon {
    width: 36px;
    height: 32px;
    margin-top: 0px;
    margin-bottom: 7px;
}
.header-name__market {
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: center;
}
.header-name__market_colored {
    color: #f52;
}
.bread-crumbs {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 0px;
    gap: 4px;
}
.bread-crumbs__item {
    color: #018ad2;
}
.bread-crumbs__item:hover {
    color: #c00
}
.product {
    display: flex;
    flex-direction: column;
}
.product__foto {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 9px;
}
.general-block {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    gap: 100px;
}
.product-detail {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
}
.section-color__selected-color {
    margin-top: 0px;
}
.section-color__different-color {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    flex-wrap: wrap;
}
.section-color__icon {
    border: 1px solid #888888;
    border-radius: 4px;
    height: 80px;
    width: 80px;
    padding: 10px 24px;
    background-color: transparent;
    cursor: pointer;
}
.section-color__icon_selected {
    border: 2px solid #F36223;
}
.section-color__icon:hover {
    background-color: #888888;
}
.section-memory__different-memory {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.section-memory__btn {
    padding: 10px 20px;
    margin: 0px;
    border: 1px solid #888888;
    border-radius: 4px;
    cursor: pointer;
    }
.section-memory__btn:hover {
    background-color: #888888;
}
.section-memory__btn_selected {
    border-color: #F36223;
}
.section-characteristic__header {
    margin-bottom: 15px;
}
.section-characteristic__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px;
}
.section-characteristic__list_promo:hover {
    color:red
}
ul {
list-style: none;
padding-left: 20px;
}
ul li::before {
    content: "\2022";  /* юникод точки */
    color: #888888; /* Менять цвет */
    font-weight: bold; /* Менять жирность */
    display: inline-block; /* Расстояние между точкой и текстом */
    width: 10px;
}
.section-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
}
.section-description__paragrafs {
    margin-top: 30px;
    margin-bottom: 0px;
}
.section-description__paragraf {
    margin-top: 0px;
    margin-bottom: 0px;
}
.saite-bar {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    gap: 40px;
    max-width: 420px;
}
.section-purchase {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-radius: 20px;
    padding: 20px;
}
.section-purchase__price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
}
.section-purchase__price_high {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    color: #888888;
    gap: 10px;
}
.section-purchase__price_low {
font-size: 32px;
}
.section-purchase__price_discont {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    gap: 10px;
    background: #F36223;
    border-radius: 500px;
    font-size: 16px;
    color: #FFFFFF;
}
.section-purchase__delivery {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 0px 20px;
    gap: 10px;
     font-size: 16px;
}
.section-purchase__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 49px;
    gap: 10px;
}
.section-purchase__button {
    background: #F36223;
    border-radius: 4px;
    color: white;
    border-color: transparent;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 20px;
}
.section-purchase__button:hover {
    background-color: #DA4A0C
}
.frame {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    height: 100%;
}
iframe {
    border: 1px dotted #ccc;
    max-width: 420px;
    height: 100%;
}
.frame__txt {
    font-size: 14px;
    color: #888888;
    font-style: normal;
    margin-bottom: 5px;
}
.section-comparison {
    max-width: 880px;
}
.section-comparison__header {
    margin-top: 30px;
    margin-bottom: 15px;
}
.table {
    font-size: 16px;
    border: 1px solid #888888;
    border-collapse: collapse;
    text-align: center;
    margin-bottom: 55px;
}
.table__row:hover {
    color: #888888;
    cursor: pointer;
}
.table__header {
    border: 1px solid #888888;
    padding: 10px;
}
.table__column {
    border-right: 1px solid #888888;
    padding: 10px;
}
.container-reviews {
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 880px;
    flex-wrap: wrap;
}
.amount-reviews {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.amount-reviews__element {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.amount-reviews__title {
    font-size: 24px;
    font-weight: bold;
    margin: 0px;
}
.amount-reviews__number {
    font-size: 24px;
    color: #888888;
    margin: 0px;
}
.amount-reviews__button {
    border: 1px solid #888888;
    border-radius: 4px;
    padding: 0px 20px 0px 20px;
}
.first-review {
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.first-review__mark_foto {
    width: 140px;
    height: 140px;
    border-radius: 50%;
}
.first-review__text-review {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.first-review__text-review_paragraf {
    margin: 0px;
}
.first-review__text-review_rating {
    height: 30px;
    width: 150px;
    margin-bottom: 10px;
}
.border-seprator {
    border-top: 1px dashed #888888;
    max-width: 730px;
    margin-left: 170px;
}
.form-review {
    max-width: 880px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.form-review__ferst-row {
    display: flex;
    flex-direction: row;
    gap: 40px;
    max-width: 770px;
    margin-left: 170px;
    
}
.form-review__name {
    width: 451px;
    padding: 15px 20px 15px 20px;
}
.form-review__number {
    width: 132px;
    padding: 15px 20px 15px 20px 
}
.form-review__second-row {
    max-width: 770px;
    margin-left: 170px;
}
.form-review__text {
    width: 703px;
}
.form-review__text::placeholder {
    font-family: sans-serif;
    padding-left: 20px;
    padding-top: 15px;
}
.form-review__third {
    max-width: 770px;
    margin-left: 170px;
}
.form-review__button {
    padding: 10px 20px;
    background-color: #F36223;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
}
.form-review__button:hover {
    background-color: #f52;

}

.footer {
    max-width: 1400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 30px;
    margin-top: 60px;
    background-color: #F2F2F2;;
}
.footer__paragraf {
    margin-top: 0px;
    margin-bottom: 0px;
}
.footer__paragraf_promo {
    font-weight: bold;
}
.footer__paragraf_colored {
    color: #f52;
}
.footer__paragraf_connection:hover {
    color: #c00
}
.footer__anchor_up:hover {
    color: #c00
}
